html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  align-items: center;
  gap: 20px;
}

main {
  flex: 1 0 auto;
}
